img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.7s;
  transition-property: transform;
}

.img-container:focus,
.img-container:active,
.img-container:hover {
  transition-duration: 0.7s;
  transform: scale(1.07);
  cursor: pointer;
}

.img-container {
  max-height: 300px;
  max-width: 300px;
}
